@import 'typography';
@import 'mediaQueries';

.nav {
  height: 75px;
}

.container {
}

.container__landing {
  height: 100vh;
}

.introCard {
  // margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__logo {
    width: 100%;
  }

  &__description {
    text-align: center;
  }
}

.container__grain {
  height: 100vh;
  background-image: url('https://www.lilianfilms.com/_next/static/media/Natalie-Stuart.3c222784.png');
  background-size: cover;
  background-attachment: fixed;

  &__logo {
    width: 100vw;
    margin: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.nav {
  display: grid;

  grid-template-columns: 70vw repeat(auto-fit, minmax(40px, 1fr));

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 30vw repeat(auto-fit, minmax(40px, 1fr));
  }

  height: 50px;
  padding: 2rem;

  &__logo {
    align-self: center;
    color: white;
  }
  &__news {
    align-self: center;
    text-align: right;
    color: white;
  }
  &__about {
    align-self: center;
    text-align: right;
    color: white;
  }
}
