@import 'typography';
@import 'mediaQueries';

.nav {
  height: 75px;
}

.container {
}

.container__landing {
  height: 100vh;
}

.introCard {
  // margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media only screen and (max-width: $bp-small) {
    width: 300px;
  }

  &__logo {
    width: 100%;
  }

  &__description {
    text-align: center;
  }

  &__link {
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: underline;
    text-decoration-color: rgba(190, 190, 190, 0.1);
    -webkit-text-decoration-color: rgba(190, 190, 190, 0.1);

    &__alex {
      white-space: nowrap;
    }
    &__tom {
      white-space: nowrap;
    }
  }
}

.container__grain {
  height: 100vh;
  background-image: url('../public/Natalie-Stuart-lg.png');
  background-size: cover;
  background-attachment: fixed;
  @media only screen and (max-width: $bp-small) {
    background-image: url('../public/Natalie-Stuart-sm.png');
    background-position: 60%;
  }

  &__logo {
    width: 50vw;
    margin: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.nav {
  display: grid;

  grid-template-columns: 70vw repeat(auto-fit, minmax(40px, 1fr));

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 30vw repeat(auto-fit, minmax(40px, 1fr));
  }

  height: 50px;
  padding: 2rem;

  &__logo {
    align-self: center;
    color: white;
  }
  &__news {
    align-self: center;
    text-align: right;
    color: white;
  }
  &__about {
    align-self: center;
    text-align: right;
    color: white;
  }
}

.linkTest {
  background-color: aqua;
  height: 300px;
}
